{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}


    <div class="main-container d-flex flex-column">

        <h1 class="section-title">Articles</h1>

        {% for article in articles %}

            <section class="article d-flex flex-column">
                <h2 class="article-title">{{ article.title }}</h2>

                <p class="article-content">{{ article.content }}</p>

                <div class="actions d-flex">
                    <button class="btn btn-primary"><a href="{{ path('article_show', {'id': article.id}) }}">Lire la suite...</a></button>
                    <button class="btn btn-primary"><a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a></button>
                </div>
            </section>

        {% else %}

            <p>Aucun article trouvé</p>

        {% endfor %}

        <a class="new-article" href="{{ path('article_new') }}">Écrire un nouvel article</a>

    </div>
{% endblock %}
