{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="main-container d-flex flex-column">

        <section class="article d-flex flex-column">
            <h2 class="article-title">{{ article.title }}</h2>

            <p class="article-content">{{ article.content }}</p>

            <div class="actions d-flex">
                <button class="btn btn-primary"><a href="{{ path('article_index') }}">Retourner aux articles</a></button>
                <button class="btn btn-primary"><a href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a></button>
                {{ include('article/_delete_form.html.twig') }}
            </div>
        </section>

    </div>


{% endblock %}
