{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">Retourner aux articles</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
